<html>

<head>
        <link rel="stylesheet" href="css/cv.css">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
        <!-- <link type="text/css" rel="stylesheet" href="https://www.dropbox.com/s/trsldt0me90jzs8/resume.css"/> -->
        <link href="https://fonts.googleapis.com/css?family=Heebo|Playfair+Display" rel="stylesheet">

        <title></title>
</head>

<body>
        <div class="mydiv">

                <p class="name">I'm Gayatri</p>



                <h3 style="color:orange">MERN Developer</h3>
                <img class="girlimg1" src="mountain.png" height="160" width="250">
        </div>

   
        

     
        <div>

                <img class="girlimg" src="girl.png">

        </div>
        <div class="fixit">
                Hello
        </div>
        <p>To achieve success in the competitive environment of the corporate world and making a mark
                for my hard work, passion for the projects and strong will to fulfill management expectations.</p>
        <div class="fixit">
                My Skills


        </div>

        <div class="fixme">
                <table>
                        <td>
                                <img class="girlimg" src="laptop.png">
                        </td>
                        <td>

                                <h class="fixit1">
                                        Technical Skills
                                </h>
                                <div>
                                        <h class="p1">To achieve success in the competitive environment of the
                                                corporate world
                                                and making a mark
                                                for my hard work, passion for the projects </h>

                                </div>

                        </td>
                </table>

        </div>


        <div class="fixme">
                <table>
                        <td>
                                <h class="fixit1">
                                        Technical Skills
                                </h>
                                <div>
                                        <h class="p1">To achieve success in the competitive environment of the
                                                corporate world
                                                and making a mark
                                                for my hard work, passion for the projects </h>

                                </div>
                        </td>
                        <td>
                                <img class="girlimg" src="hiking.png">


                        </td>
                </table>

        </div>

        <div>
                <div class="fixit">
                        Get In Touch
                </div>
                <h class="fixit1">
                        Technical Skills
                </h>
                <div>
                        <p>To achieve success in the competitive environment of the corporate world
                                and making a mark
                                for my hard work, passion for the projects </p>

                </div>
                <div>
                        <button>Contact Me</button>
                </div>
        </div>





</body>

<footer>
              <ui>linkedin</ui>
              <ui>facebook</ui>
                <p style="color:aliceblue">Contact information: <p>mailto:gayatrijk@gmail.com</p>
               
              </footer>
</html>